/* Este es un
   comentario CSS de varias
   lineas */

   a[href='http://4geeksacademy.com/'] {color: blue;}
   a[href='http://google.com/'] {color: yellow;}
   a[href='http://youtube.com/'] {color: red;}
   a[href='http://amazon.com/'] {color: black;}
