/* Este es un
   comentario CSS de varias
   lineas */
   body, html {
     padding : 0px;
     margin : 0px;
     height : 100%;
   }
   #wrapper {
     width:900px;
     height:100%;
     margin: 0px;
     padding: 0px;
   }
   #header {
     height:10%;
     background-color:#930;
     width:900px;
   }
   #nav {
     background-color:#999;
     width:200px;
     height:90%;
     float:left;
   }
   #content {
     height:90%;
     background-color:#363;
     width:700px;
     float:left;
   }
